.service_background{
    background-image: url(../../assets/images/Subtract.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.service_section{
    padding: 80px 0px 0px 0px;
     background: #262729;
}
.service_text h5{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #fff;
    position: relative;
}

.service_line::after{
    content: "";
    display: block;
    width: 900px;
    height: 3px;
    background:#FF9900;
    position: absolute;
    top: 80%;
    left: 16%;
}
.right_arrow{
    position: absolute;
    right: 1%;
    top: 70%;
    color: #FF9900;
    font-size: 22px;
}
.step_1{
    margin-top: 350px;
    background: #FF9900;
    border-radius: 5px;
    height: 81px;
   
}
.step_2{
    margin-top: 300px;
    background: red;
    border-radius: 5px;
    height: 81px;
 
}
.step_3{
    margin-top: 250px;
  
}
.step_4{
    margin-top: 200px;
    
}
.step_5{
    margin-top: 150px;
    
}
.step_6{
    margin-top: 100px;
    
}
.step_7{
    margin-top: 50px;
    
}

.service_one{
   
    background-color: #555454;
    
    
}

.service_img{
    position: absolute;
    right: 0;
    top: 30%;
}





@media only screen and (max-width: 600px){
    .service_line::after{
       width: 160px;
       left: 48%;
    }
    
}