.mobile_app_section{
    padding: 80px 0px 60px 0px;
    background-color:#262729;
}
.mobile_app_background{
    background-image: url(../../assets/images/Rectangle\ 705.png);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.app_text h5{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #fff;
    position: relative;
}
.app_images img{
    width: 200px;
    height: 60px;
    border-radius: 5px;
}
.app_store{
    margin-right: 40px;
}
.get_app{
    margin-top: 120px;
}
.get_app_text{
    text-align: right;
}
.get_app_text h5{
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
}
.get_app_text p{
    color: #fff;
}


@media only screen and (max-width: 600px){
    .get_app_text{
        text-align:center;
    }
    .app_store{
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .mobile_app_section{
        padding: 60px 0px 0px 0px;
    }
    .mobile_app_background{
        height: 100%;
        padding-bottom: 40px;
    }
}